html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

html {
	color-scheme: dark;
	color: var(--foreground);
	background-color: var(--background);
	position: relative;
	scrollbar-width: 0.2rem;
	overflow-y: scroll;

	/* default font configuration */
	font-feature-settings: 'zero';
	font-family: 'IBM Plex Sans';
	font-weight: 500;

	/* font optimizations */
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

/* textured background */
html:before {
	content: '';
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: 182px;
	opacity: 0.15;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	pointer-events: none;
	z-index: -1;
}

::selection {
	background-color: var(--foreground);
	text-decoration-color: var(--background);
	color: var(--background);
}

/* custom scrollbar */
*::-webkit-scrollbar {
	width: 0.2rem;
	height: 0.2rem;
}

*::-webkit-scrollbar-track {
	background: var(--background);
}

*::-webkit-scrollbar-thumb {
	background: var(--foreground);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-size: 16px;
}

a {
	color: var(--blue-foreground);
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

h1 {
	font-size: 2.9rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.45rem;
}

@media (max-width: 500px) {
	*,
	*::before,
	*::after {
		font-size: 15px;
	}

	h2 {
		font-size: 1.45rem;
	}

	h3 {
		font-size: 1.3rem;
	}
}

button {
	background-color: var(--foreground);
	color: var(--background);
	border: 1px solid var(--border);
	font-family: inherit;
	border-radius: var(--border-radius);
	transition:
		background-color 0.2s ease,
		color 0.2s ease;
}

button:hover {
	background-color: var(--real-background);
	color: var(--foreground);
	cursor: pointer;
}
