:root {
	--border-radius: 5px;
	--box-shadow: 0 0 15px var(--background);

	--foreground: white;
	--background: rgb(21, 25, 27);
	--real-background: rgb(34, 36, 37);
	--border: rgb(70, 70, 70);

	--green-foreground: rgb(0 217 107);
	--green-background: rgb(37 54 48);
	--green-border: rgb(40 86 61);

	--blue-foreground: #2b95ff;
	--blue-background: rgb(10 19 34);
	--blue-selection: rgb(16, 30, 54);

	--red-foreground: rgb(243, 9, 40);
	--red-background: rgb(61 36 38);
	--red-border: rgb(134 34 41);
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground: rgb(28, 31, 33);
		--background: #dddddd;
		--real-background: rgb(220, 220, 220, 0.9);
		--border: rgb(198, 198, 198);

		--green-foreground: rgb(0, 75, 13);
		--green-background: rgb(123, 167, 130);
		--green-border: rgb(40 86 61);
	}

	html {
		color-scheme: light;
	}
}
