:root {
	--border-radius: 5px;
	--box-shadow: 0px 0px 10px rgb(10, 10, 10);

	--foreground: white;
	--background: rgb(21, 25, 27);
	--real-background: rgb(34, 36, 37);
	--border: rgb(70, 70, 70);

	--green-foreground: rgb(0 217 107);
	--green-background: rgb(37 54 48);
	--green-border: rgb(40 86 61);

	--blue-foreground: #2b95ff;
	--blue-background: rgb(10 19 34);
	--blue-selection: rgb(16, 30, 54);

	--red-foreground: rgb(243, 9, 40);
	--red-background: rgb(61 36 38);
	--red-border: rgb(134 34 41);
}

@media (prefers-color-scheme: light) {
	:root {
		--box-shadow: 0px 0px 10px rgb(129, 129, 129);

		--foreground: rgb(28, 31, 33);
		--background: #dddddd;
		--real-background: rgb(220, 220, 220, 0.9);
		--border: rgb(167, 167, 167);

		--green-foreground: rgb(46, 125, 50);
		--green-background: rgb(179, 228, 183);
		--green-border: rgb(67, 160, 71);

		--red-foreground: rgb(230, 9, 39);
		--red-background: rgb(239, 167, 171);
		--red-border: rgb(230, 9, 39);
	}

	html {
		color-scheme: light;
	}
}
